<div class="container-fluid">
	<div class="row">
		<div class="col-md-12" ">
			<div class="row">
				<div class="col-md-12" style="
        text-align: center;
        height: 500px;">

  <p style="color:#1C2833;font-size:36px;font-family:Comic Sans Ms ">!!!Enjoy Your Day!!!</p>
             <div class="images" align="center">

<img class="img-responsive img-rounded" src="../public/images/sharucabs.jpg" alt="Chania" width="400px" height="200px" >
          </div>


          </div>
        </div>
			</div>


</div>
